*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

header{
  width: 100℅;
  background-color: #e069bf;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.logo-imagem{
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius:25px;
}
.container-logo{
  display: flex;
  align-items: center;
}
.logo-texto{
  margin-left: 20px;
  color: white;
}
.menu li{
  display: inline-block;
  margin: 0 10px;
}
.menu li a{
  font-size: 24px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 10px 15px;
}
.menu li a:hover{
  background-color: rgba(100, 100, 100, 0,8);
}
